// Colors
$bg              : #171717;
$fieryOrange     : #b3491f;
$lightBrown      : #b26821;
$gamboge         : #E39E1C;
$lightTan        : #fff09d;
$ao              : #078206;
$bluish          : #287ab8;
$ultramarineBlue : #3E6AE3;
$paleAqua        : #b3d8de;
$mushroom        : #bea788;
$dust            : #b1987a;
$warmGrey        : #978D84;

// Colors: low opacity
$gainsboro70     : #dddddd70;
